[submodule "vst3sdk"]
	path = vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
[submodule "juce"]
	path = juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib_juce/juce"]
	path = lib_juce/juce
	url = https://github.com/juce-framework/JUCE.git
